footer.bottom-footer
	hr
	.row-fluid
	.copyright(style="text-align:center;margin:30px auto;")
		&#169; 2012, 
		strong URL Solutions 
		Developed by 
		a(target="_blank", href="http://uroslates.com") Uroš Lates 
		img(title="Serbia", alt="Serbia", src="/img/serbia.jpg", width="40")